SCRIPTORIUM_GRAPH_HOST=0.0.0.0
SCRIPTORIUM_GRAPH_PORT=4319
NEO4J_URI=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=scriptorium_password
SCRIPTORIUM_WEB_AUTOSTART=1
SCRIPTORIUM_WEB_PORT=3000
